h1 {
    text-align: center;
    color: currentColor;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    list-style: none;
    font-size: 18px;
}

.icon {
    width: 30px;
    height: 30px;
}

.box {
    display: flex;
    gap: 30px;
    font-size: 16px;
    align-items: center;
}

.field {
    border-bottom: 1px solid #eee;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.reg {
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
    border: 0;
}

.image {
    display: flex;
    width: 300px;
    height: 300px;
}